.header{
    position:fixed;
    top: 0;
    left: 0;

    
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;

    font-family: tahoma;
    font-weight: bold;
    height: 70px;
    width: 100%;
    background-color: #D9BCA0;
    box-shadow: inset 0px 0px 50px #EFDCBD;
    color: white;
    text-shadow: black;
    border-radius: 0px;
    font-size: 18px;
}

.logo a{
    font-family: comic sans ms;
    font-size: 20pt;
    color: white;
    background: #bda595;
    box-shadow: inset 0px 0px 5px white;
    text-shadow: 3px 2px 1px black;
    margin: 0px;
    padding: 25px;
    float: left;
    border-bottom-right-radius: 50px;
}